extends ../layouts/main

block content
  .columns.is-mobile.is-multiline.is-vcentered
    .column.is-narrow
      h1.title.is-size-3.is-size-1-desktop Csoportok
    .column.is-narrow
      a.button.is-link(href="/groups/new") Új csoport
  if paginationOpt.pageNum > 1
    include ./pagination

  .columns.is-desktop.is-multiline.is-centered
    each group in groups
      .column.is-6-desktop
        .card.flex-column
          a.card-header(href=`/groups/${group.id}`).is-shadowless
            .card-header-title
              .title #{group.name}
                .subtitle Szint: #{group.room}
            .py-5.px-5
              span.icon(class=`has-text-${group.doNotDisturb ? 'danger': 'success'}`)
                i.fas.fa-lg(class=`fa-${group.doNotDisturb ? '': 'un'}lock`)
          .card-content.flex-column
            .content.break-long-words !{group.description}
            if group.tags
              .has-text-right.flex-column-footer
                - const tags = group.tags.split(",")
                each tag in tags.slice(0, 4)
                  span &nbsp;
                  span.tag.is-info= tag
                if tags.length > 4
                  span &nbsp;...
          footer.card-footer.flex-column-footer
            .card-footer-item(title=`${dateFns.format(group.startDate, dateFns.DATE_FORMAT)}`)
              span.icon
                i.fas.fa-play
              span #{dateFns.formatDistanceToNowStrict(group.startDate, { addSuffix: true, locale: dateFns.huLocale })}
            .card-footer-item(title="Időtartam")
              span.icon
                i.fas.fa-stopwatch
              span #{dateFns.formatDistanceStrict(group.startDate, group.endDate, { locale: dateFns.huLocale })}
    else
      p.mt-3 Nincsenek megjelenítendő csoportok

  if paginationOpt.pageNum > 1 && groups.length > 2
    include ./pagination
