extends ../layouts/main

block content
  h1.title Csoportok
  a.button.is-link(href="/groups/new") Új csoport
  .cards.groups
    each group in groups
      .card.group
        .card-content
          .content
            a(href=`/groups/${group.id}`)
              h3.subtitle #{group.name}&nbsp;
                if group.doNotDisturb
                  i.fas.fa-lock
                else
                  i.fas.fa-lock-open
            p Szint: #{group.room}
            p= group.description
        footer.card-footer
          .card-footer-item(title="Kezdés időpontja")
            i.fas.fa-play
            span &nbsp;#{format(parseISO(group.startDate), DATE_FORMAT)}
          .card-footer-item(title="Befejezés időpontja")
            i.fas.fa-stop-circle
              span &nbsp;
            span &nbsp;#{format(parseISO(group.endDate), DATE_FORMAT)}
    else
      p Nincsenek megjelenítendő csoportok
