extends ../layouts/main

block content
  h1.title Csoportok
  a.button.is-link(href="/groups/new") Új csoport
  .cards
    each group in groups
      .card
        a(href=`/groups/${group.id}`)
          .card-header
            h3.subtitle.card-header-title= group.name
        .card-content
          .content
            p= group.subject
            p= group.description
            p= group.room
            p= group.doNotDisturb
        footer.card-footer
          .card-footer-item
            = format(group.startDate, DATE_FORMAT)
          .card-footer-item
            = format(group.endDate, DATE_FORMAT)
