extends ../layouts/main

block content
  .columns.is-mobile.is-multiline.is-vcentered
    .column.is-narrow
      h1.title.is-1 Csoportok
    .column.is-narrow
      a.button.is-link(href="/groups/new") Új csoport
  if paginationOpt.pageNum > 1
    include ./pagination

  .cards.groups
    each group in groups
      .card.group
        a.card-header(href=`/groups/${group.id}`)
          .card-header-title
            .level
              p.title #{group.name}
              p.subtitle Szint: #{group.room}
          .card-header-icon
            span.icon.is-medium(class=`has-text-${group.doNotDisturb ? 'danger': 'success'}`)
              i.fas.fa-lg(class=`fa-${group.doNotDisturb ? '': 'un'}lock`)
        .card-content
          .content !{group.description}
        footer.card-footer
          .card-footer-item(title="Kezdés időpontja")
            span.icon
              i.fas.fa-play
            span #{format(group.startDate, DATE_FORMAT)}
          .card-footer-item(title="Befejezés időpontja")
            span.icon
              i.fas.fa-stop
            span #{format(group.endDate, DATE_FORMAT)}
    else
      p.has-margin-top-10 Nincsenek megjelenítendő csoportok

  if paginationOpt.pageNum > 1 && groups.length > 2
    include ./pagination
