extends ../layouts/main

block styles
  link(rel="stylesheet" href="https://unpkg.com/easymde@2.15.0/dist/easymde.min.css")
  //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.css")
  //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css")
  //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.3.0/main.min.css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.22.0/dist/tagify.css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
  link(rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css")

block content
  h1(class='title') #{isEditing ? 'Csoport módosítása' : 'Új csoport felvétele'}
  div(class='relative flex flex-col items-center justify-center sm:px-4' x-data="{ open: false }")
    form(id="group-form" class='flex flex-col max-w-6xl p-3 mx-4 my-4 space-y-4 sm:w-full sm:p-6 rounded-2xl bg-default shadow-full')
      div
        label(for="name" class='text-lg font-bold') Csoport neve
        input(type="text", name="name", id="name", value=`${name ? name : ''}`, required, maxlength="100", class="w-full px-3 py-2 rounded form-element")
      div
        label(class='text-lg font-bold' for='tags') Címkék (8)
        input(type="tags", name="tags", id="tags", class="w-full px-3 py-2 rounded form-element")
      div
        label(class='text-lg font-bold' for='buttons') Helyszín
        div(class="flex space-x-2" id="buttons")
          button(type="button", id="floorBtn", onclick="selectMeetingPlace('floor')", class='self-start btn btn-meeting-default animate-hover' class=`${(!isEditing || roomId) ? 'btn-meeting-selected' : ''}`) Tanulószoba
          button(type="button", id="linkBtn", onclick="selectMeetingPlace('link')", class='self-start btn btn-meeting-default animate-hover' class=`${(isEditing && link) ? 'btn-meeting-selected' : ''}`) Online
          button(type="button", id="otherBtn", onclick="selectMeetingPlace('other')", class='self-start btn btn-meeting-default animate-hover' class=`${(isEditing && place) ? 'btn-meeting-selected' : ''}`) Egyéb
      div(id = "floorDiv" class=`${(!isEditing || roomId) ? '' : 'hidden'}`)
        label(for="floorInput" class='text-lg font-bold') Szint
        div(class='flex flex-row items-center space-x-4')
          select(name="room", id="floorInput", class='rounded form-element')
            each room in ROOMS
              if roomId == room
                option(value=`${room}`, selected='selected')= room
              else
                option(value=`${room}`)= room
      div(id="linkDiv" class=`${(isEditing && link) ? '' : 'hidden'}` )
        label(class='text-lg font-bold' for='link') Link
        input(type="text", name="link", id="linkInput", maxlength="100", class="w-full px-3 py-2 rounded form-element", value=`${(isEditing && link) ? link : ''}`)
      div(id="otherDiv" class=`${(isEditing && place) ? '' : 'hidden'}`)
        label(class='text-lg font-bold' for='otherInput') Más hely
        input(type="text", name="place", id="otherInput", maxlength="100", class="w-full px-3 py-2 rounded form-element", value=`${(isEditing && place) ? place : ''}`)
          //- button(type="button", class="px-2 py-1 border border-gray-600 rounded-md hover:border-gray-500", @click="open = true") Naptár
      div
        label(class='text-lg font-bold' for="maxAttendees") Maximális létszám
        br
        input(type="number" name="maxAttendees" id="maxAttendees" placeholder="100" value=`${maxAttendees ? maxAttendees : ''}` min=1 max=100 class="rounded form-element")
      div(class='flex flex-col items-start')
        label(class='text-lg font-bold' for="pickerStart") Kezdés ideje
        input(type="text", id="pickerStart", name="startDate", required, data-input, class="flatpickr")
      div(class='flex flex-col items-start')
        label(class='text-lg font-bold' for="pickerEnd") Befejezés ideje
        input(type="text", id="pickerEnd", name="endDate", required, data-input, class="flatpickr")
      div
        label(for="desc" class='text-lg font-bold') Leírás
        textarea(name="description", id="desc")
      div
        input(type="checkbox", name="doNotDisturb", id="doNotDisturb", checked=(isEditing && doNotDisturb) class='text-lg font-bold rounded-sm')
        label(for="doNotDisturb" class="ml-1") Nem szeretném, hogy mások csatlakozzanak
      div
        if isEditing
          div(class="space-x-4")
            a(href=`/groups/${groupId}` class='bg-gray-300 hover:bg-gray-400 dark:bg-gray-600 dark:hover:bg-gray-700 btn animate-hover') Elvetés
            button(type="submit", id="submitBtn", class='btn btn-primary animate-hover') Mentés
        else
          button(type="submit", id="submitBtn", class='self-start btn btn-primary animate-hover') Csoport létrehozása
    div(class="fixed inset-0 max-w-md overflow-hidden" x-show="open" x-cloak)
      div(class='absolute top-0 right-0 flex pt-4 pr-2 -ml-8 sm:-ml-10 sm:pr-4')
        button(aria-label='Close panel' class='text-gray-300 transition duration-150 ease-in-out hover:text-white' @click="open = false")
          //- Heroicon name: x
          svg(xmlns='http://www.w3.org/2000/svg' alt="Bezárás" aria-label="Bezárás" fill='none' viewbox='0 0 24 24' stroke='currentColor' class='w-6 h-6')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
      //- TODO: side-calendar
      //- div(class="flex flex-col h-full py-6 space-y-6 bg-white shadow-xl bg-default")
      //-   header(class='px-4 sm:px-6')
      //-     h2(class="text-lg font-medium leading-7") Szint foglaltsága
      //-   div(class='relative flex-1 px-4 sm:px-6')
      //-     div(class='absolute inset-0 h-screen px-4 sm:px-6')
      //-       #side-calendar

block scripts
  if start && end
    script const range = { start: !{JSON.stringify(start)}, end: !{JSON.stringify(end)} }
  if isEditing
    script const isEditing = true
    script const groupId = !{JSON.stringify(groupId)}
  if description
    script const description = decodeURIComponent(!{JSON.stringify(encodeURIComponent(description))})
  if tags
    script const tags = decodeURIComponent(!{JSON.stringify(encodeURIComponent(tags))})
  script(src="https://cdn.jsdelivr.net/npm/flatpickr")
  script(src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.22.0/dist/tagify.min.js")
  script(src="https://unpkg.com/easymde@2.15.0/dist/easymde.min.js")
  //- script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.0/main.js')
  //- script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.js')
  //- script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.3.0/main.min.js')
  script(src="/js/picker.js")
  script(src="/js/md-editor.js")
  script(src="/js/group/create.js")
  script(src="/js/tags.js")
