extends ../layouts/main

block styles
  link(rel="stylesheet" href="https://unpkg.com/easymde@2.10.1/dist/easymde.min.css")

block content
  h1.title Új csoport felvétele
  form(method="POST", action="/groups", id="group-form")
    .field
      label.label(for="name") Csoport neve
      .control
        input.input(type="text", name="name", id="name", placeholder="Analízis ZH1 készülés", value=`${name? name : ''}`, required)
    .field
      label.label Címkék (8)
      .control
        input.input(type="tags", name="tags", id="tags", placeholder="Adj hozzá címkéket...", value=`${tags? tags : ''}`)
    .field
      label.label(for="room") Szint
      .control
        .select
          select(name="room", id="room")
            each room in ROOMS
              if roomId == room
                option(value=`${room}`, selected='selected')
                  =room
              else
                option(value=`${room}`)
                  =room
    .field
      label.label Kezdés ideje
      .control.has-icons-left
        input.input(type="datetime", id="pickerStart", name="startDate" required)
      p.help Vizsgáld felül, jól vitted-e be az adatokat!
    .field
      label.label Befejezés ideje
      .control.has-icons-left
        input.input(type="datetime", id="pickerEnd", name="endDate" required)
      p.help Vizsgáld felül, jól vitted-e be az adatokat!
    .field
      label.label(for="desc") Leírás
      .control
        textarea.textarea(name="description", id="desc")
    .field
      .control
        input(type="checkbox", name="doNotDisturb" id="doNotDisturb")
        label.checkbox(for="doNotDisturb") Nem szeretném, hogy mások csatlakozzanak
    .field
      .control
        button.button.is-link(type="submit", id="submitBtn", disabled)
          i.fas.fa-plus
          span &nbsp;Csoport létrehozása

block scripts
  if start && end
    script const range = { start: !{JSON.stringify(start)}, end: !{JSON.stringify(end)} }
  script(src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js")
  if description
    script const description = !{JSON.stringify(description)}
  script(src="/js/picker.js")
  script(src="https://unpkg.com/easymde@2.10.1/dist/easymde.min.js")
  script(src="/js/md-editor.js")
  script(src="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.2/dist/js/bulma-tagsinput.min.js")
  script.
    new BulmaTagsInput('#tags', {
      maxTags: 8,
      maxChars: 30,
      tagClass: 'is-info'
    })
