extends ../layouts/main

block content
  .group-show
    h1.title.is-1= group.name
    span.dates #{format(group.startDate, DATE_FORMAT)} - #{format(group.endDate, DATE_FORMAT)}
    if group.subject
      h2.is-size-4 Tárgy: #{group.subject}
    h3.is-size-5 Szint: #{group.room}
    h3.description= group.description
    if !group.doNotDisturb
      h2.is-size-4 Résztvevők
      if group.users
        ul
          each user in group.users
            li
              a.has-text-link(href=`/users/${user.id}`)= user.name
      if !joined
        form(action=`/groups/${group.id}/join`, method="post")
          button.button.is-primary(type="submit") Csatlakozás
      else if !isOwner
        form(action=`/groups/${group.id}/leave`, method="post")
          button.button.is-warning(type="submit") Csoport elhagyása
    else if isOwner
      p Zárt csoport
    else
      p A csoport létrehozója nem szeretné, ha mások csatlakoznának
    if isOwner
      button.button.is-danger(type="button", onclick=`deleteGroup(${group.id})`) Csoport törlése

block scripts
  script(src='/js/group.js')