extends ../layouts/main

block content
  .group-show
    .columns
      .column
        h1.title= group.name
      .column.is-narrow
        .columns.has-text-right.is-mobile
          .column.is-narrow
            form(action=`/groups/${group.id}/export`, method="get")
              button.button.is-secondary(type="submit")
                span.icon
                  i.fas.fa-file-export
                span &nbsp;Exportálás
          .column.is-narrow
            .dropdown.is-right.has-text-left
              .dropdown-trigger
                button.button(aria-haspopup="true", aria-controls="dropdown-menu")
                  span.icon
                    i.fas.fa-sliders-h
                  span.icon.is-small
                    i.fas.fa-angle-down
              .dropdown-menu(id="dropdown-menu", role="menu")
                .dropdown-content
                  a.dropdown-item(href=`/groups/${group.id}/copy`)
                    span.icon
                      i.fas.fa-copy
                    span &nbsp;Másolás
                  if isOwner
                    hr.dropdown-divider
                    a.dropdown-item(onclick=`deleteGroup(${group.id})`)
                      span.icon.has-text-danger
                        i.fas.fa-trash-alt
                      span.has-text-danger &nbsp;Törlés

    - const [startDate, startTime] = format(group.startDate, DATE_FORMAT).split(' ')
    - const [endDate, endTime] = format(group.endDate, DATE_FORMAT).split(' ')

    table.table.is-fullwidth
      thead
        p.menu-label Adatok
      tbody
        tr
          td
            span.icon.has-text-info
              i.fas.fa-fw.fa-building
            span &nbsp;#{group.room}. szint
          td
            if group.doNotDisturb
              span.icon.has-text-info
                i.fas.fa-fw.fa-lock
              span.has-tooltip-bottom(data-tooltip="A szervező letiltotta a csatlakozást") &nbsp;Zárt
                sup ?
            else
              span.icon.has-text-info
                i.fas.fa-fw.fa-unlock
              span.has-tooltip-bottom(data-tooltip="Szabad a csatlakozás") &nbsp;Nyílt
                sup ?
        tr
          if startDate == endDate
            td(colspan="2")
              span.icon.has-text-info
                i.fas.fa-fw.fa-calendar
              span &nbsp;#{startDate}
                strong &nbsp;#{startTime}-#{endTime}
          else
            td
              span.icon.has-text-info
                i.fas.fa-fw.fa-calendar
              span &nbsp;#{startDate}
                strong &nbsp;#{startTime}
            td
              span.icon.has-text-info
                i.fas.fa-fw.fa-stop
              span &nbsp;#{endDate}
                strong &nbsp;#{endTime}
        if group.tags
          tr
            td(colspan="2")
              span.icon.has-text-info
                i.fas.fa-fw.fa-tags
              each tag in group.tags.split(",")
                span &nbsp;
                span.tag.is-info.is-medium= tag

    if group.description
      p.menu-label Leírás
      article.message.content
        .message-body !{group.description}

    table.table.is-fullwidth.is-hoverable
      thead
        .columns
          .column.menu-label Résztvevők
          if !joined && !group.doNotDisturb
            .column.is-narrow
              form(action=`/groups/${group.id}/join`, method="post")
                button.button.is-primary(type="submit")
                  i.fas.fa-sign-in-alt
                  span &nbsp;Csatlakozás
          else if !isOwner && joined
            .column.is-narrow
              form(action=`/groups/${group.id}/leave`, method="post")
                button.button.is-warning(type="submit")
                  i.fas.fa-sign-out-alt
                  span &nbsp;Kilépés
      tbody
        each user in group.users
          tr
            td
              a.has-text-link(href=`/users/${user.id}`)= user.name
              if user.id === group.ownerId
                span.has-margin-left-10.tag.is-info.is-rounded Szervező

block scripts
  script(src='/js/group.js')
