extends ../layouts/main

block content
  h1= group.name
  h2= group.description
  h2= group.room
  h4= group.startDate
  h4= group.endDate
  h2= group.doNotDisturb
  if !joined
    form(action=`/groups/${group.id}/join`, method="post")
      button(type="submit") Csatlakozás
  else
    form(action=`/groups/${group.id}/leave`, method="post")
      button(type="submit") Csoport elhagyása
  if group.users
    ul
      each u in group.users
        li= u.name