extends ../layouts/main

block content
  .group-show
    h1.title= group.name
    span.dates #{format(group.startDate, DATE_FORMAT)} - #{format(group.endDate, DATE_FORMAT)}
    if group.subject
      h2.is-size-4 Tárgy: #{group.subject}
    h3.is-size-5 Tanuló: #{group.room}
    h3.description= group.description
    if !group.doNotDisturb
      h2.is-size-4 Résztvevők
      if group.users
        ul
          each user in group.users
            li
              a(href=`/users/${user.id}`)= user.name
      if !joined
        form(action=`/groups/${group.id}/join`, method="post")
          button.button.is-primary(type="submit") Csatlakozás
      else
        form(action=`/groups/${group.id}/leave`, method="post")
          button.button.is-danger(type="submit") Csoport elhagyása
    else
      p A csoport létrehozója nem szeretné, ha mások csatlakoznának