extends ../layouts/main

block content
  .columns.is-mobile.is-multiline.is-vcentered
    .column.is-narrow
      h1.title.is-1 Hibajegyek
    .column.is-narrow
      a.button.is-link(href="tickets/new") Új hibajegy
  .cards.tickets
    each ticket in tickets
      .card.ticket(id=`ticket-${ticket.id}`)
        .card-content
          .media
            .media-content
              h4.title.is-4 Szint: #{ticket.roomNumber}
              p.subtitle.is-6 ##{ticket.id}
          .content !{ticket.description}
          time= format(ticket.createdAt, DATE_FORMAT)
          if admin
            button.button.is-danger(type="button", onclick=`deleteTicket(${ticket.id})`) Törlés
    else
      p Nincsenek hibajegyek

block scripts
  script(src='/js/ticket.js')
