extends ../layouts/main

block content
  h1.title= userToShow.name
  if user.id === userToShow.id
    .field.has-addons
      .control.has-icons-left
        input.input(id="floor-input", type="number", placeholder="Szint", title="Szint", value=user.floor)
        span.icon.has-text-info.is-left
          i.fas.fa-fw.fa-building
        p.help Ha megadod a szinted, a főoldalon kiemelt helyen lesz
      .control
        button.button.is-link(onclick=`updateUser(${user.id})`) Mentés
  if user.id !== userToShow.id && user.admin
    form(action=`/users/${userToShow.id}/admin`, method="post")
      if userToShow.admin
        button.button.is-danger(type="submit") Admin jog megvonása
      else
        button.button.is-link(type="submit") Admin jog adása
  h2.subtitle Csoportok
  ul
    each group in userToShow.groups
      li
        a(href=`/groups/${group.id}`)
          p= group.name

block scripts
  script(src="/js/user.js")
