extends ../layouts/main

block content
  h1.title= userToShow.name
  if user.id !== userToShow.id && user.admin
    form(action=`/users/${userToShow.id}/admin`, method="post")
      if userToShow.admin
        button.button.is-danger(type="submit") Admin jog megvonása
      else
        button.button.is-link(type="submit") Admin jog adása

  - const isUpcoming = (element) => element.endDate > Date.now();
  - const isOld = (element) => element.endDate <= Date.now()

  if userToShow.groups.some(isUpcoming)
    h3.subtitle.my-5 Közelgő csoportesemények
  .columns.is-multiline
    each group in userToShow.groups.filter(isUpcoming)
      .column.is-one-third-desktop.is-half-tablet.is-full-mobile.break-long-words
        a.box.is-fullheight(href=`/groups/${group.id}`)
          if user.id === group.ownerId
            .is-pulled-right
              span.icon.is-size-7.pl-4.pb-4
                i.fas.fa-fw.fa-crown
          span= group.name

  if userToShow.groups.some(isOld)
    h3.subtitle.my-5 Elmúlt csoportesemények
  .columns.is-multiline
    each group in userToShow.groups.filter(isOld)
      .column.is-one-third-desktop.is-half-tablet.is-full-mobile.break-long-words
        a.box.is-fullheight(href=`/groups/${group.id}`)
          if user.id === group.ownerId
            .is-pulled-right
              span.icon.is-size-7.pl-4.pb-4
                i.fas.fa-fw.fa-crown
          span= group.name

block scripts
  script(src="/js/user.js")
