mixin roomTemplate(room, favorite, group)
  .column.notification(class=`${!group ? 'is-success' : (!group.doNotDisturb? 'is-warning' : 'is-danger')}`)
    .columns.is-vcentered.is-gapless
      .column.is-narrow
        span.icon.is-medium.has-text-warning.mr-2(onClick=`${favorite? `deleteFavorite(${room})` : `addFavorite(${room})`}`)
          i.fa-lg.fa-star(class=`${favorite? 'fas' : 'far'}`)
        span.has-text-weight-bold.is-size-4 #{room}. emelet
      .column
        .room-buttons
          if group
            if !group.doNotDisturb
              a(href=`/groups/${group.groupId}`).button.is-normal.is-inverted.is-outlined.is-warning Részletek
            else
              button(disabled).button.is-normal.is-inverted.is-danger.has-text-dark Foglalt
          else
            a(href=`/groups/new/?roomId=${room}`).button.is-inverted.is-success Foglalás
          a(href=`/rooms/${room}`).button.is-normal.is-inverted Naptár

